body {
  margin: 0;
  font-family:
    Inter,
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

#root {
  min-height: 100vh;
}
